select {
    width: 71%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px ;
  }
  
  select:focus {
    outline: none;
    border-color: #007bff;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  option {
    padding: 10px;
    font-size: 14px;
  }
  