/* General Styles */
.p-4 {
    max-width: 900px;
    margin: 20px auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #323131;
  }
  
  /* Dropdown and Textarea */
  select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Buttons */
  button {
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    transition: 0.3s;
  }
  
  .bg-blue-500 {
    background: #0f561b;
    color: white;
  }
  
  .bg-blue-500:hover {
    background: #ae63eb;
  }
  
  .bg-gray-300 {
    background: #ddd;
  }
  
  .bg-gray-300:hover {
    background: #bbb;
  }

  .controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 16px;
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .controls-container button {
    padding: 10px 16px;
    border-radius: 6px;
    background-color: #e0e0e0;
    transition: background 0.2s ease-in-out;
    font-weight: 500;
  }
  
  .controls-container button:hover {
    background-color: #d6d6d6;
  }
  
  .controls-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .controls-container span {
    font-size: 16px;
    font-weight: 500;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 35px 10px 10px; /* Right padding for ✖ button */
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .clear-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #666;
  }
  
  .clear-button:hover {
    color: #000;
  }

  .export-button {
    background-color: #28a745;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;
  }
  
  .export-button:hover {
    background-color: #218838;
  }


  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background: #a475dd;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background: #f2f2f2;
  }
  
  /* Pagination */
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .pagination-controls span {
    font-size: 14px;
    font-weight: bold;
  }
  
  .pagination-controls button {
    padding: 6px 12px;
    background: #b77eec;
    color: white;
  }
  
  .pagination-controls button:hover {
    background: #965cd8;
  }