.query-builder {
  padding: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(202, 8, 8, 0.1);
  max-width: 500px;
  margin: auto;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  color: red;
}

h2 {
  text-align: center;
  color: #333;
}

.add-condition-btn,
.generate-query-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background 0.2s;
}

.add-condition-btn:hover,
.generate-query-btn:hover {
  background-color:#28a745;

}

.condition-row {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
}

input,
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 80px;
  border-radius: 4px;
  border: 1px solid #ccc;
 
}
